@using FluiTec.AppFx.Identity.Models.ManageViewModels
@model FluiTec.AppFx.Identity.Models.ManageViewModels.ChangePasswordViewModel

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Passwort</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h4>Passwort ändern</h4>
            <hr/>
            <form asp-controller="Profile" asp-action="ChangePassword" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="OldPassword" placeholder="Altes Passwort" data-rule-required="true" data-msg-required="Altes Passwort ist ein Pflichtfeld"/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="NewPassword" placeholder="Neues Passwort" data-rule-required="true" data-msg-required="Neues Password ist ein Pflichtfeld"/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="ConfirmPassword" placeholder="Passwort-Bestätigung" data-rule-required="true" data-msg-required="Passwort-Bestätigung ist ein Pflichtfeld"/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="Absenden"/>
                            </li>
                            <li>
                                <input type="reset" value="Zurücksetzen"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}