<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Access denied</h2>
    </header>
    <div class="container">
        <section id="content">
            <section>
                <h4>Access denied</h4>
                <hr/>
                <p>
                    You are currently not allowed to open this page. If you need access - please contact an administrator.
                </p>
            </section>
        </section>
    </div>
</section>