<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Account confirmed</h2>
    </header>
    <div class="container">
        <section>
            <div class="row uniform">
                <p>Account confirmed</p><br/>
            </div>
            <div class="row uniform">
                <p>
                    <a asp-controller="Account" asp-action="Login">Login now</a>
                </p>
            </div>
        </section>
    </div>
</section>