<cache expires-after="@TimeSpan.FromHours(12)">
    <section id="maincontent" class="wrapper content-wrapper">
        <header>
            <h2>Confirm account</h2>
        </header>
        <div class="container">
            <section>
                <div class="row uniform">
                    <p>The email to confirm your account has been sent again.</p>
                </div>
            </section>
        </div>
    </section>
</cache>