<cache expires-after="@TimeSpan.FromHours(12)">
    <section id="maincontent" class="wrapper content-wrapper">
        <header>
            <h2>Login error</h2>
        </header>
        <div class="container">
            <section>
                <div class="row uniform">
                    <p>Sorry - we encountered a problem communicating with the provider. Please try again later.</p>
                </div>
            </section>
        </div>
    </section>
</cache>