<cache expires-after="@TimeSpan.FromHours(12)">
    <section id="maincontent" class="wrapper content-wrapper">
        <header>
            <h2>Forgot password confirmed</h2>
        </header>
        <div class="container">
            <section>
                <div class="row uniform">
                    <p>The password-recovery mail was sent to the given mail-address.</p>
                </div>
            </section>
        </div>
    </section>
</cache>