section id="maincontent" class="wrapper content-wrapper">
<header>
    <h2>Password changed</h2>
</header>
<div class="container">
    <section>
        <div class="row uniform">
            <p>Password was successfully changed.</p>
        </div>
    </section>
</div>
</section>