@using FluiTec.AppFx.Identity.Models.AccountViewModels
@model FluiTec.AppFx.Identity.Models.AccountViewModels.ResetPasswordViewModel

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Reset password</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h4>Reset password</h4>
            <hr/>
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <input asp-for="Code" type="hidden"/>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Email" placeholder="Mail" data-rule-required="true" data-msg-required="Mail is required"/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Password" placeholder="Password" data-rule-required="true" data-msg-required="Password is required"/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="ConfirmPassword" placeholder="Password confirmation" data-rule-required="true" data-msg-required="Password confirmation is required"/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <recaptcha/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="Submit"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}