@using FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.IdentityAdmin
@model FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.IdentityAdmin.ClientAddModel

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Klientenverwaltung</h2>
    </header>
    <div class="container">
        <section>
            <h4>Klient hinzufügen</h4>
            <hr />
            <form asp-controller="IdentityAdmin" asp-action="AddClient" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Name" placeholder="Name" data-rule-required="true" data-msg-required="Name ist ein Pflichtfeld" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="RedirectUri" placeholder="Weiterleitungs-URL" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="PostLogoutUri" placeholder="Abmeldungs-URL" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="AllowOfflineAccess" />
                        <label asp-for="AllowOfflineAccess"></label>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <select asp-for="GrantTypes" class="custom-select">
                            <option value="password">Passwort</option>
                            <option value="hybrid">Hybrid</option>
                            <option value="client_credentials">Anmeldeinformationen</option>
                        </select>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="Hinzufügen" />
                            </li>
                            <li>
                                <input type="reset" value="Zurücksetzen" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <h4>Aktionen</h4>
            <div class="row uniform">
                <div class="col-lg-6">
                    <ul class="actions">
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageClients">Klientenverwaltung</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}