@model FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.Admin.ClaimDeleteModel

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>User claims management</h2>
    </header>
    <div class="container">
        <section>
            <h4>Delete claim</h4>
            <hr />
            <form asp-controller="Admin" asp-action="DeleteUserClaim" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <input asp-for="UserId" value="@Model.UserId" hidden />
                <input asp-for="Type" value="@Model.Type" hidden />
                <p>Are you sure you want to delete the claim?</p>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="Yes, i am" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <h4>Actions</h4>
            <div class="row uniform">
                <div class="col-lg-6">
                    <ul class="actions">
                        <li>
                            <a asp-controller="Admin" asp-action="ManageUsers">User management</a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="ManageUser" asp-route-userid="@Model.UserId">Manage user</a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="ManageUserClaims" asp-route-userid="@Model.UserId">Manage user claims</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}