<cache expires-after="@TimeSpan.FromHours(12)">
    <section id="maincontent" class="wrapper content-wrapper">
        <header>
            <h2>Unbekannter Fehler</h2>
        </header>
        <div class="container">
            <section>
                <h3 class="text-danger">Unbekannter Fehler</h3>
                <div class="row uniform text-danger">
                    <p>Leider ist ein unbekannter Fehler aufgetreten. Der Service wurde bereits über den Fehler informiert.</p>
                </div>
                <div class="row uniform text-danger">
                    <p>In der Zwischenzeit können Sie versuchen, ob Sie mit anderen Eingaben weiter kommen.</p>
                </div>
            </section>
        </div>
    </section>
</cache>