<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Nutzungsbedingungen</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h3>Berechtigte Nutzer</h3>
            <p>Diese Homepage ist nur für die Verwendung eines eingeschränkten Kreises von Nutzern und Programmen gemacht.</p>
            <p>Sollten Sie keine Einladung erhalten haben, möchten wir Sie bitten die Homepage zu verlassen.</p>
            <h3>Aussperrung, Sperrung, Löschung</h3>
            <p>Wir behalten uns vor Ihren Account für eine bestimmte Zeit auszusperren, komplett zu sperren oder zu löschen. (Dies geschieht zum Teil automatisch)</p>
        </section>
    </div>
</section>