<head>
    <title>@Model.ApplicationName - @Model.Subject</title>
    <style media="screen" type="text/css">
        body {
            background-color: #FFFFFF;
            margin: 20px;
            padding: 0;
        }

        a:link, a:visited {
            color: #e0555a;
            text-decoration: none;
        }

        a:hover, a:active { color: #000000; }
    </style>
</head>