<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Über</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h3>Über</h3>
            <p>Diese Homepage dient einzig der Authentifizierung von Nutzern anderer Webanwendungen.</p>
            <h3>Funktionen</h3>
            <p>Angeboten wird OpenIdConnect für externe Anwendungen in folgenden Modi (samt Refresh-Token):</p>
            <ul>
                <li>Hybrid</li>
                <li>Client-Anmeldedaten</li>
                <li>Benutzer-Anmeldedaten</li>
            </ul>
            <h3>Externe Anmeldedienste</h3>
            <p>Sie können die folgenden Dienste verwenden um Ihr Passwort nicht eingeben zu müssen:</p>
            <ul>
                <li>Google</li>
                <li>Amazon</li>
            </ul>
        </section>
    </div>
</section>