<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Terms of use</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h3>Allowed users</h3>
            <p>This application was designed for a small, restricted group of users.</p>
            <p>If you did not get an invitation to use this homepage - please leave.</p>
            <h3>Lockout, complete lock, deletion</h3>
            <p>We reserve ourselves to right to block your account completely or for some time as well as the right to completely delete it. (This happens partially automatic)</p>
        </section>
    </div>
</section>