@model FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.IdentityAdmin.ClientClaimDeleteModel

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Client claims management</h2>
    </header>
    <div class="container">
        <section>
            <h4>Delete claim</h4>
            <hr />
            <form asp-controller="IdentityAdmin" asp-action="DeleteClientClaim" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <input asp-for="ClientId" value="@Model.ClientId" hidden />
                <input asp-for="Type" value="@Model.Type" hidden />
                <p>Are you sure you want to delete the claim?</p>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="Yes, i am" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <h4>Actions</h4>
            <div class="row uniform">
                <div class="col-lg-6">
                    <ul class="actions">
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageClients">Client management</a>
                        </li>
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageClient" asp-route-clientid="@Model.ClientId">Manage client</a>
                        </li>
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageClientClaims" asp-route-cleintid="@Model.ClientId">Manage client claims</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}