@model FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.IdentityAdmin.ScopeEditModel
@using FluiTec.AppFx.AspNetCore
@using FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.IdentityAdmin
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Scope management</h2>
    </header>
    <div class="container">
        <section>
            <h4>Edit scope</h4>
            <hr />
            @Html.Partial("_ModelUpdateResult", Model)
            <form asp-controller="IdentityAdmin" asp-action="ManageScope" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <input type="hidden" name="Id" id="Id" value="@Model?.Id" readonly />
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Name" placeholder="Name" data-rule-required="true" data-msg-required="Name is required" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="DisplayName" placeholder="Display name" data-rule-required="true" data-msg-required="Display name is required" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Description" placeholder="Description" data-rule-required="true" data-msg-required="Description name is required" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Required" />
                        <label asp-for="Required"></label>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Emphasize" />
                        <label asp-for="Emphasize"></label>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="ShowInDiscoveryDocument" />
                        <label asp-for="ShowInDiscoveryDocument"></label>
                    </div>
                </div>
                <br />
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="Edit" />
                            </li>
                            <li>
                                <input type="reset" value="Reset" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <h4>Actions</h4>
            <hr />
            <div class="row uniform">
                <div class="col-lg-6">
                    <ul class="actions">
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageScopes">Scopes management</a>
                        </li>
                        @if (Model != null && (await AuthorizationService.AuthorizeAsync(User, PolicyNames.ScopesDelete)).Succeeded)
                        {
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="DeleteScope" asp-route-scopeid="@Model.Id">Delete scope</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}