@model IEnumerable<FluiTec.AppFx.IdentityServer.Entities.ApiResourceEntity>
@using FluiTec.AppFx.AspNetCore
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject IViewLocalizer Localizer

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Api resources management</h2>
    </header>
    <div class="container">
        <section>
            <h4>Manage api resources</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        @if ((await AuthorizationService.AuthorizeAsync(User, PolicyNames.ApiResourcesUpdate)).Succeeded)
                        {
                            <th>#</th>
                        }
                    </tr>
                </thead>
                @foreach (var resource in Model)
                {
                    <tr>
                        <td>
                            @Localizer.GetString(resource.DisplayName)
                        </td>
                        @if ((await AuthorizationService.AuthorizeAsync(User, PolicyNames.ApiResourcesUpdate)).Succeeded)
                        {
                            <td>
                                <a asp-controller="IdentityAdmin" asp-action="ManageApiResource" asp-route-resourceid="@resource.Id">Edit</a>
                            </td>
                        }
                    </tr>
                }
            </table>
            <h4>Actions</h4>
            <div class="row uniform">
                <div class="col-lg-6">
                    <ul class="actions">
                        <li>
                            <a asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                        @if ((await AuthorizationService.AuthorizeAsync(User, PolicyNames.ApiResourcesCreate)).Succeeded)
                        {
                            <li>
                                <a asp-controller="IdentityAdmin" asp-action="AddApiResource">Add resource</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>