<cache expires-after="@TimeSpan.FromHours(12)">
    <h3 class="text-danger">The page could not be found.</h3>
    <p>Es tut mir leid, aber die angeforderte Seite konnte nicht gefunden werden. Schauen Sie doch einfach auf den anderen Seiten nach.</p>
    <p>Falls Sie von dieser oder einer anderen Website einen fehlerhaften Link aufgerufen haben, der zu dieser Seite führte - würde ich mich über eine kurze Mitteilung freuen. Vielen Dank im Voraus!</p>
</cache>