<cache expires-after="@TimeSpan.FromHours(value: 12)">
    <footer class="footer bg-light">
        <div class="container">
            <ul class="footer-link-list">
                <li is-active-route asp-controller="Contact" asp-action="Imprint">
                    <a asp-controller="Contact" asp-action="Imprint">Imprint</a>
                </li>
                <li is-active-route asp-controller="Contact" asp-action="Privacy">
                    <a asp-controller="Contact" asp-action="Privacy">Privacy</a>
                </li>
                <li is-active-route asp-controller="Contact" asp-action="TermsOfUse">
                    <a asp-controller="Contact" asp-action="TermsOfUse">Terms of use</a>
                </li>
            </ul>
            <p class="m-0 text-center">Copyright &copy; 2018 | Achim Schnell</p>
        </div>
    </footer>
</cache>