<cache expires-after="@TimeSpan.FromHours(12)">
    <section id="maincontent" class="wrapper content-wrapper">
        <header>
            <h2>Unknown error</h2>
        </header>
        <div class="container">
            <section>
                <h3 class="text-danger">Unknown error</h3>
                <div class="row uniform text-danger">
                    <p>We've encountered an unknown error. The service will fix this this as soon as possible.</p>
                </div>
                <div class="row uniform text-danger">
                    <p>In the meantime - please try again with different input.</p>
                </div>
            </section>
        </div>
    </section>
</cache>