<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Zugriff verweigert</h2>
    </header>
    <div class="container">
        <section id="content">
            <section>
                <h4>Zugriff verweigert</h4>
                <hr/>
                <p>
                    Es ist Ihnen aktuell nicht erlaubt diese Seite zu öffnen. Falls Sie Zugriff benötigen - kontaktieren Sie bitte einen Administrator.
                </p>
            </section>
        </section>
    </div>
</section>