<cache expires-after="@TimeSpan.FromHours(12)">
    <section id="maincontent" class="wrapper content-wrapper">
        <header>
            <h2>Account bestätigen</h2>
        </header>
        <div class="container">
            <section>
                <div class="row uniform">
                    <p>Die Aufforderung zur E-Mail-Bestätigung wurde erneut versandt.</p>
                </div>
            </section>
        </div>
    </section>
</cache>