@using FluiTec.AppFx.Identity.Entities
@using FluiTec.AppFx.Identity.Models.AccountViewModels
@using Microsoft.AspNetCore.Identity
@model FluiTec.AppFx.Identity.Models.AccountViewModels.ExternalLoginConfirmationViewModel
@inject SignInManager<IdentityUserEntity> SignInManager

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Externe Registrierung</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h4>Lokal benötigte Informationen</h4>
            <hr/>
            <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Email" placeholder="E-Mail" data-rule-required="true" data-msg-required="E-Mail ist ein Pflichtfeld"/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Name" placeholder="Name" data-rule-required="true" data-msg-required="Name ist ein Pflichtfeld"/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Phone" placeholder="Telefon" data-rule-required="true" data-msg-required="Telefon ist ein Pflichtfeld"/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="Registrieren"/>
                            </li>
                            <li>
                                <input type="reset" value="Zurücksetzen"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}