<cache expires-after="@TimeSpan.FromHours(12)">
    <section id="maincontent" class="wrapper content-wrapper">
        <header>
            <h2>Login Fehler</h2>
        </header>
        <div class="container">
            <section>
                <div class="row uniform">
                    <p>Leider ist bei der Kommunikation mit dem entfernten Dienst ein Fehler aufgetreten. Bitte versuchen Sie es später erneut.</p>
                </div>
            </section>
        </div>
    </section>
</cache>