<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Passwort geändert</h2>
    </header>
    <div class="container">
        <section>
            <div class="row uniform">
                <p>Passwort wurde erfolgreich geändert.</p>
            </div>
        </section>
    </div>
</section>