<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>About</h2>
    </header>
    <!--Content-->
    <div class="container">
        <section>
            <h3>About</h3>
            <p>This homepage servers the purpose of identifying users of different web-applications.</p>
            <h3>Features</h3>
            <p>We offer OpenIdConnect for external applications covering the following modes (including Refresh-Token):</p>
            <ul>
                <li>Hybrid</li>
                <li>Client credentials</li>
                <li>User credentials</li>
            </ul>
            <h3>External services</h3>
            <p>You can use the following, external services in order to not give us your password:</p>
            <ul>
                <li>Google</li>
                <li>Amazon</li>
            </ul>
        </section>
    </div>
</section>